.team-card {
  border-style: solid;
  background-color: #ffffff33;
  height: 150px;
  display: flex;
  padding: 12px;
  width: 300px;
  border-color: #ffffff33;
  border-width: 0.5px;
  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.team-logo {
  height: 80px;
  width: 100px;
}
.team-name {
  color: white;
  font-size: 22px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
